<div class="top-header-strip">
    <div class="custom-container d-flex justify-content-between">
        <ul class="top-contect-sec">
            <li class="pe-5"><i class="fab fa-phone pe-2"></i> +918882382276</li>
            <li><i class="fab fa-envelope pe-2"></i> info&#64;7janpathforex.com</li>
        </ul>
        <ul class="login-nav-sec">
            <li class="pe-4">Sign In</li>
            <li class="ms-4">Log In</li>
        </ul>
        <!--login-nav-sec-->
    </div>
</div><!--top-header-strip-->
<header class="header-custom-main">
