
$primary-color-a: rgb(249, 166, 5);
$primary-color-b: rgb(5, 81, 115);
$primary-color-b-10: rgba(5, 81, 115, 0.1);
$primary-color-b-20: rgba(5, 81, 115, 0.2);
$primary-color-b-30: rgba(5, 81, 115, 0.3);
$primary-color-b-40: rgba(5, 81, 115, 0.4);
$primary-color-b-50: rgba(5, 81, 115, 0.5);
$primary-color-b-60: rgba(5, 81, 115, 0.6);
$primary-color-b-70: rgba(5, 81, 115, 0.7);
$primary-color-b-80: rgba(5, 81, 115, 0.8);
$primary-color-b-90: rgba(5, 81, 115, 0.9);
$primary-color-a-10: rgba(249, 166, 5, 0.1);
$primary-color-a-20: rgba(249, 166, 5, 0.2);
$primary-color-a-30: rgba(249, 166, 5, 0.3);
$primary-color-a-40: rgba(249, 166, 5, 0.4);
$primary-color-a-50: rgba(249, 166, 5, 0.5);
$primary-color-a-60: rgba(249, 166, 5, 0.6);
$primary-color-a-70: rgba(249, 166, 5, 0.7);
$primary-color-a-80: rgba(249, 166, 5, 0.8);
$primary-color-a-90: rgba(249, 166, 5, 0.9);
