<app-headers></app-headers>
<div class="top-banner-sec-main">
    <div class="top-tab-nav-sec">
        <ul>
            <li><img src="./../../../assets/images/tab-icon-1.svg"> <span>Currency</span></li>
            <li><img src="./../../../assets/images/tab-icon-2.svg"> <span>Transfer Money Abroad</span></li>
            <li><img src="./../../../assets/images/tab-icon-3.svg"> <span>Reload/ Unload Forex Card</span></li>
            <li><img src="./../../../assets/images/tab-icon-4.svg"> <span>International Sim Card</span></li>
            <li><img src="./../../../assets/images/tab-icon-5.svg"> <span>Corporate Solutions</span></li>
            <li><img src="./../../../assets/images/tab-icon-6.svg"> <span>Travel Insurance</span></li>
        </ul>
    </div><!--top-tab-nav-sec-->


    <div id="carouselExampleCaptions" class="carousel custom-carusel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block">
                <figure>
                    <img src="./../../../assets/images/banner-icon-1.svg"/>
                </figure>
              <h2>24*7 Online International Money Transfer via BookMyForex</h2>
              <ul>
                <li>Zero transfer charges | Use Promo code ZEROBANKFEE</li>
                <li>Say NO to Bank Visits | Transfer Anytime, Anywhere</li>
                <li>Live Exchange Rate | Lowest Rates Guaranteed</li>
                <li>Funds received abroad within 12 - 48 hours</li>
              </ul>
              <button class="transfer-btn-top">Transfer Money Now</button>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
                <figure>
                    <img src="./../../../assets/images/banner-icon-1.svg"/>
                </figure>
              <h2>24*7 Online International Money Transfer via BookMyForex</h2>
              <ul>
                <li>Zero transfer charges | Use Promo code ZEROBANKFEE</li>
                <li>Say NO to Bank Visits | Transfer Anytime, Anywhere</li>
                <li>Live Exchange Rate | Lowest Rates Guaranteed</li>
                <li>Funds received abroad within 12 - 48 hours</li>
              </ul>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
                <figure>
                    <img src="./../../../assets/images/banner-icon-1.svg"/>
                </figure>
              <h2>24*7 Online International Money Transfer via BookMyForex</h2>
              <ul>
                <li>Zero transfer charges | Use Promo code ZEROBANKFEE</li>
                <li>Say NO to Bank Visits | Transfer Anytime, Anywhere</li>
                <li>Live Exchange Rate | Lowest Rates Guaranteed</li>
                <li>Funds received abroad within 12 - 48 hours</li>
              </ul>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="book-order-search-box">
        <div class="book-order-tab-box">
            <form onSubmit="handlecurrencyExchnageSubmit">
                <p class="book-order-input-box">
                        <select name="selectCity" id="selectCity" value="currencyExchangeForm.selectCity" >
                            <option value="Select City">Select City</option>
                            
                                <option value="city.id">city.name</option>
                           
                        </select>
                </p>
                <div class="book-order-input-box book-cus-inputset">
                    <p class="mb-0">
                        <label>Currency You Have</label>
                        <select id="userCurrency" name="userCurrency" value="" >
                            <option value="INR">INR</option>
                        </select>
                    </p>
                    <p class="mb-0">
                        <label>Currency You Want</label>
                        <select id="requiredCurrency" name="requiredCurrency" value="" onChange="">
                        <option value="default">Select currency</option>
                                <option value="currency">currency.name</option> 
                        </select>
                    </p>
                </div>
            
                <p class="book-order-input-box">
                    <select id="currencyNotes" name="currencyNotes" value="">
                        <option value="Forex Card">Forex Card</option>
                        <option value="Currency Notes">Currency Notes</option>
                    </select>
                </p>
                <p class="book-order-input-box">
                    <input name="useramount" value="" type="text" placeholder="Forex Amount"/>
                </p>
                <p class="book-order-input-box">
                    <input name="vendoramount" value="" type="text" placeholder="INR Amount"/>
                </p>
            
            <div class="total-book-order">
                <h2>Total Amount</h2>
                <h2>Rs.</h2>
            </div>
            <button class="book-btn-set" type="submit">Book This Order</button>
            </form>
        </div>
  </div> 
<!--book-order-search-box-->

</div><!--top-banner-sec-main-->

<div class="top-banner-card-main">
<main class="main-middle-content-section pt-5 pb-5">
			
    <div class="container-fluid pb-5">	
        <div class="custom-container">
            
            <table class="table custom-table-set">
                <thead>
                  <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                    <th scope="col">Our Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img class="me-3" src="./../../../assets/./../../../assets/images/flag-1.svg">US Dollar (USD)</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-green"> + 0.32 %</span></td>
                    <td><span class="text-green"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>
                  <tr>
                    <td> <img class="me-3" src="./../../../assets/images/flag-2.svg"> Euro (EUR)</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-green"> + 0.32 %</span></td>
                    <td><span class="text-green"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>
                  <tr>
                    <td><img class="me-3" src="./../../../assets/images/flag-1.svg"> Ringgit (MYR)</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-green"> + 0.32 %</span></td>
                    <td><span class="text-green"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>
                  <tr>
                    <td> <img class="me-3" src="./../../../assets/images/flag-3.svg">US Dollar (USD)</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-red"> + 0.32 %</span></td>
                    <td><span class="text-red"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>
                  <tr>
                    <td> <img class="me-3" src="./../../../assets/images/flag-4.svg"> Sterling Pound (GBP)</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-green"> + 0.32 %</span></td>
                    <td><span class="text-green"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>
                  <tr>
                    <td> <img class="me-3" src="./../../../assets/images/flag-2.svg"> British Pound</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-red"> + 0.32 %</span></td>
                    <td><span class="text-red"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>
                  
                  <tr>
                    <td> <img class="me-3" src="./../../../assets/images/flag-1.svg">Euro (EUR)</td>
                    <td>₹ 79.97</td>
                    <td> <span class="text-green"> + 0.32 %</span></td>
                    <td><span class="text-green"> ₹+ 0.22 %</span></td>
                    <td>₹ 69.97</td>
                  </tr>

                </tbody>
              </table>
                
            
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5">	
        <div class="custom-container">
            <div class="head-container-sec mb-5">
                <h5>Most Popular Currency Tools</h5>
                <h2>Set Up & Exchanges Money Form  Your Cards in a Minute</h2>
            </div>

                
            <div class="row">
                <div class="col-lg-4 product-card-main">
                    <figure>
                        <img src="./../../../assets/images/money-trasfer.svg"/>
                    </figure>
                    <h3>Money Transfer</h3>
                    <p>Whether you want to send money for your child’s education fees or send money for business purposes, we provide you a variety of options for Money transfer to abroad.</p>
                    <button>Read More..</button>
                </div>
                <div class="col-lg-4 product-card-main">
                    <figure>
                        <img src="./../../../assets/images/travel-insurance.svg"/>
                    </figure>
                    <h3>Travel Insurance</h3>
                    <p>Travel Insurance is done when we are going on the long trip for the long duration of the time. in this insurance,we cover the exact duration of the trip and multi-trip policy.</p>
                    <button>Read More..</button>
                </div>
                <div class="col-lg-4 product-card-main">
                    <figure>
                        <img src="./../../../assets/images/foriegn-exchange.png"/>
                    </figure>
                    <h3>Buy & Sell Foriegn Exchange</h3>
                    <p>In finance, an exchange rate is the rate at which one currency will be exchanged for another currency.</p>
                    <button class="mt-5">Read More..</button>
                </div>
                <div class="col-lg-4 product-card-main">
                    <figure>
                        <img src="./../../../assets/images/send-moeny.svg"/>
                    </figure>
                    <h3>Send Money Abroad</h3>
                    <p>Send Money Abroad at Best and Live Rate with Hassle free transaction and no extra cost. Looking for International Money Transfer just one click away reach us now!</p>
                    <button class="mt-5">Read More..</button>
                </div>
                <div class="col-lg-4 product-card-main">
                    <figure>
                        <img src="./../../../assets/images/travel-card.svg"/>
                    </figure>
                    <h3>Travel Card</h3>
                    <p>Often while traveling abroad, keeping cash along with you can increase the risk factor of you losing the money. Travel cards are a safe way to keep your money safe with you while you relish your travel.</p>
                    <button>Read More..</button>
                </div>
                <div class="col-lg-4 product-card-main">
                    <figure>
                        <img src="./../../../assets/images/currency-exchange.svg"/>
                    </figure>
                    <h3>Currency Exchange</h3>
                    <p>Foreign exchange market is a global market for the trading of currencies.In this money is exchanged in one currency for another.It includes buying, selling and exchanging currencies at current prices.</p>
                    <button>Read More..</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5 pb-5 bg-grey">	
        <div class="custom-container">		
            <div class="row pt-3 pb-3">
                <div class="col-lg-6">
                    <figure>
                        <img class="w-90" src="./../../../assets/images/about-sidebg.png"/>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <div class="head-container-sec-2">
                        <h5>About us</h5>
                        <h2>Transfer & Exchange Your Money Anytime In this World</h2>
                        <p>At 7Janpath Forex, it’s all about our esteemed customers. They are at the forefront of the services we offer. Our Forex rates are the best in the city. At no point,</p>
                    </div>
                    <div class="about-content-main-sec">

                        <ul>
                            <li>
                                <figure>
                                    <img src="./../../../assets/images/convenince.svg"/>
                                </figure>
                                <div class="about-text-sec">
                                    <h4>CONVENIENCE</h4>
                                    <p>Options of multiple payment methods and free delivery to your doorstep.</p>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <img src="./../../../assets/images/security.svg"/>
                                </figure>
                                <div class="about-text-sec">
                                    <h4>SECURITY</h4>
                                    <p>Data encryption across the website to ensure you can transact with confidence.</p>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <img src="./../../../assets/images/value.svg"/>
                                </figure>
                                <div class="about-text-sec">
                                    <h4>VALUE</h4>
                                    <p>Get the most competitive rates when you do forex transactions on Forex On Wheels.</p>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <img src="./../../../assets/images/speed.svg"/>
                                </figure>
                                <div class="about-text-sec">
                                    <h4>SPEED</h4>
                                    <p>Simply upload your documents online and save them for future transactions.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5 pb-5">	
        <div class="custom-container">
            <div class="head-container-sec mt-5 mb-5 pb-2">
                <h5>Most Popular Currency Tools</h5>
                <h2>Set Up & Exchanges Money Form  Your Cards in a Minute</h2>
            </div>
            
            <div class="row mb-5 pb-5">
                <div class="col-lg-3">
                    <div class="service-card-main">
                        <figure>
                            <img src="./../../../assets/images/door-step.svg"/>
                        </figure>
                        <h3>Door Step Delivery</h3>
                        <p>Make forex simple and hastle-free.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-card-main">
                        <figure>
                            <img src="./../../../assets/images/foreign-currency-exchange.svg"/>
                        </figure>
                        <h3>Currency Exchange</h3>
                        <p>Get best rates in currency exchange</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-card-main">
                        <figure>
                            <img src="./../../../assets/images/current-rate.svg"/>
                        </figure>
                        <h3>Freeze Current Rates</h3>
                        <p>Freeze current rates to avoid higher rates.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-card-main active-card">
                        <figure>
                            <img src="./../../../assets/images/expert-exp.svg"/>
                        </figure>
                        <h3>Expert Guidance</h3>
                        <p>Get guidance on forex </p>
                    </div>
                </div>
                

            </div>
        </div>
    </div>


    <div class="container-fluid pt-5 pb-5 why-choose-bg">	
        <div class="custom-container">
            <div class="head-container-sec mb-5 pb-1">
                <h5>Why Choose Us?</h5>
                <h2 class="text-white">We Always Try To Understand Customer’s Expectation</h2>
            </div>

                
            <div class="row">
                <div class="col-lg-4">
                    <div class="why-choose-card-main">
                            <figure>
                                <img src="./../../../assets/images/rupee-icon.svg"/>
                            </figure>
                            <div class="why-choose-details">
                                <h3>10,000,000+</h3>
                                <p>Exchanged So Far </p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="why-choose-card-main">
                            <figure>
                                <img src="./../../../assets/images/happy-icon.svg"/>
                            </figure>
                            <div class="why-choose-details">
                                <h3>11,000+</h3>
                                <p>Happy Clients </p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="why-choose-card-main">
                            <figure>
                                <img src="./../../../assets/images/bank-icon.svg"/>
                            </figure>
                            <div class="why-choose-details">
                                <h3>500+</h3>
                                <p>Banks and Money Exchangers </p>
                            </div>
                    </div>
                </div>

                
                </div>
            </div>
        </div>
    

    <div class="container-fluid pt-5 pb-5">	
        <div class="custom-container">
            <div class="head-container-sec mt-5 mb-5 pb-1">
                <h5>Most Popular Currency Tools</h5>
                <h2>Set Up & Exchanges Money Form  Your Cards in a Minute</h2>
            </div>

                
            <div class="row mb-5">
                <div class="col-lg-4">
                    <div class="testimonial-card-main">
                        <div class="testimonial-head-sec">
                            <figure>
                                <img src="./../../../assets/images/user-img.png"/>
                            </figure>
                            <div class="testimonial-details">
                                <h3>Satish Singh</h3>
                                <p><img src="./../../../assets/images/star-img.png"></p>
                            </div>
                            <img class="coman-texticon-set" src="./../../../assets/images/coman-text.svg"/>
                        </div>
                        <p>Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts,  Filler text is text that shares some. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-card-main">
                        <div class="testimonial-head-sec">
                            <figure>
                                <img src="./../../../assets/images/user-img.png"/>
                            </figure>
                            <div class="testimonial-details">
                                <h3>Satish Singh</h3>
                                <p><img src="./../../../assets/images/star-img.png"></p>
                            </div>
                            <img class="coman-texticon-set" src="./../../../assets/images/coman-text.svg"/>
                        </div>
                        <p>Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts,  Filler text is text that shares some. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-card-main">
                        <div class="testimonial-head-sec">
                            <figure>
                                <img src="./../../../assets/images/user-img.png"/>
                            </figure>
                            <div class="testimonial-details">
                                <h3>Satish Singh</h3>
                                <p><img src="./../../../assets/images/star-img.png"></p>
                            </div>
                            <img class="coman-texticon-set" src="./../../../assets/images/coman-text.svg"/>
                        </div>
                        <p>Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts,  Filler text is text that shares some. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footers></app-footers>
